[tool.black]
line-length = 100
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | env
  | __pycache__
  | downloads
  | \.ipynb_checkpoints
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip_glob = ["*.ipynb", "downloads/*", "__pycache__/*"]
