# Core dependencies
lxml==5.3.0
numpy==1.26.4
pandas==2.0.3
requests==2.32.3
streamlit==1.52.0
beautifulsoup4==4.13.3
tzlocal==5.3.1
selenium==4.31.0
plotly==6.3.1

# Optional: For better performance
watchdog==6.0.0

# Linting and formatting tools
flake8==7.0.0
black==24.4.2
isort==5.13.2
