name: CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  format-and-lint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python 3.10.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.10.12'
    
    - name: Cache pip packages
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-linting-tools
        restore-keys: |
          ${{ runner.os }}-pip-
    
    - name: Install linting and formatting tools
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[lint]"
    
    - name: Check code formatting with black
      run: |
        python -m black --check .
    
    - name: Check import sorting with isort
      run: |
        python -m isort --check .
    
    - name: Lint with flake8
      run: |
        python -m flake8 .
