name: DeployEC2

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the files
        uses: actions/checkout@v3

      - name: Copy files with SSH
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{secrets.EC2_SSH_KEY}}
          REMOTE_HOST: "3.23.87.193"
          REMOTE_USER: "ubuntu"
          ARGS: "-rltgoDzvO --delete"
          SOURCE: "./"
          EXCLUDE: "downloads/, logs/, communications/read.json"
          TARGET: "/home/ubuntu/fiis-buscador/"

      - name: Run Streamlit project
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.EC2_SSH_KEY }}
          host: "3.23.87.193"
          username: "ubuntu"
          script: |
            export PATH="$HOME/.pyenv/bin:$PATH"
            eval "$(pyenv init -)"
            eval "$(pyenv virtualenv-init -)"

            cd /home/ubuntu/fiis-buscador/
            pip install -r requirements.txt
            nohup streamlit run buscador.py > logs/streamlit.log 2>&1 &
